{%- assign nav_classes = "navbar navbar-expand-lg navbar-light fixed-top py-3" -%}
{%- unless page.url == "/" -%}
  {%- assign nav_classes = nav_classes | append: " navbar-shrink" -%}
{%- endunless -%}
<nav class="{{ nav_classes }}" id="mainNav" aria-label="Navegacion principal">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/" aria-label="Defensa Penal Córdoba">Defensa Penal Córdoba</a>
    <a class="btn btn-primary btn-sm d-lg-none ms-auto me-2" href="{{ site.contact.whatsapp_url }}" target="_blank" rel="noopener" data-track="header-whatsapp">WhatsApp {{ site.contact.phone_display }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Abrir menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="/abogado-penalista-cordoba/">Abogado penalista</a></li>
        <li class="nav-item"><a class="nav-link" href="/urgencias-penales-cordoba/">Urgencias</a></li>
        <li class="nav-item"><a class="nav-link" href="/familiar-detenido-cordoba/">Detenidos</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navCitaciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">Imputaciones</a>
          <ul class="dropdown-menu" aria-labelledby="navCitaciones">
            <li><a class="dropdown-item" href="/citacion-a-declarar-cordoba/">Citacion a declarar</a></li>
            <li><a class="dropdown-item" href="/imputado-cordoba/">Imputado en Córdoba</a></li>
            <li><a class="dropdown-item" href="/orientacion-penal/puedo-declarar-sin-abogado/">Puedo declarar sin abogado</a></li>
            <li><a class="dropdown-item" href="/orientacion-penal/que-pasa-despues-de-una-citacion/">Que pasa despues de una citacion</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navLibertad" role="button" data-bs-toggle="dropdown" aria-expanded="false">Prision preventiva</a>
          <ul class="dropdown-menu" aria-labelledby="navLibertad">
            <li><a class="dropdown-item" href="/prision-preventiva-cordoba/">Prision preventiva</a></li>
            <li><a class="dropdown-item" href="/excarcelacion-cordoba/">Excarcelacion</a></li>
            <li><a class="dropdown-item" href="/orientacion-penal/como-se-revisa-prision-preventiva/">Como revisar prision preventiva</a></li>
            <li><a class="dropdown-item" href="/orientacion-penal/cuando-puede-pedirse-excarcelacion/">Cuando puede pedirse excarcelacion</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/orientacion-penal/">Recursos</a></li>
        <li class="nav-item"><a class="nav-link" href="/contacto/">Contacto</a></li>
      </ul>
      <div class="d-none d-lg-flex ms-lg-3">
        <a class="btn btn-primary btn-sm" href="{{ site.contact.whatsapp_url }}" target="_blank" rel="noopener" data-track="header-whatsapp">WhatsApp {{ site.contact.phone_display }}</a>
      </div>
    </div>
  </div>
</nav>
